.navbar .nav-links {
    justify-content: right!important;
}

.feature[href*='timeline'] {
    background:#fde5e7
}

.feature[href*='award'] {
    background:#ffeee8
}

.feature[href*='branding'] {
    background:#fef5e7
}

.feature[href*='album'] {
    background:#f6faea
}

.feature[href*='video'] {
    background:#e6f9ee
}

.feature[href*='publication'] {
    background:#e4fcfc
}

.feature[href*='collection'] {
    background:#e4f0fe
}

.feature[href*='report'] {
    background:#f7f1fd
}

.feature[href*='anecdote'] {
    background:#fdeaf5
}

.home.project .hero .action-button {
    border-radius: 2rem;
}

.intro-profile {
    float: right;
    margin-left: 1.2em;
    margin-bottom: .5em;
    text-align: center;

    & img {
        margin: 0 auto;
        display: block;
        width: 280px;
    }

    @media (max-width: 767px) {
        float: none;
    }
}

// 表格首行颜色
table thead tr:first-child th {
    background:pink;
}

// 表格默认属性
table {
    text-align: center; 
    display: table;
    font-size: 90%;
    width: 100%;
}

// 单元格-打勾
.yes {
    background: #D2FFD2;
    font-weight: bold;
    &:after {
        content: '✓';
    }
}

// 单元格-获奖
.won {
    background: #99FF99;
    &:after {
        content: '获奖';
    }
}

// 单元格-提名
.nom {
    background: #FDD;
    &:after {
        content: '提名';
    }
}

// 单元格-不适用（透明底色）
.na {
    font-size: smaller;
    &:after {
        content: '不适用';
    }
}

// 单元格-不适用（灰色底色）
.na-grey {
    font-size: smaller;
    background: #ECECEC;
    &:after {
        content: '不适用';
    }
}